---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

import Stroke from "../components/Stroke.astro";

const posts = await getCollection("blog");
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} og="/og/cover.jpg" />
	</head>
	<body>
		<Stroke/>
		<div class="flex">
			<Header title={SITE_TITLE} />
			<main>
				<section class="intro_sec">
					<div class="ctnr">
						<div class="content">
							<img class="logo" src="/logo/logo-light.svg" alt="Virgil Andrew logo" draggable="false">

							<h1>Strategic, targeted <span class="highlighted">marketing solutions<span></span></span> designed to engage and grow mass participation events.</h1>

							<div class="cta_ctnr">
								<a class="cta" href="/contact/" aria-label="">
									<span>Unlock Your Potential</span>
								</a>

								<a href="#about">Learn more</a>
							</div>
						</div>
					</div>
				</section>

				<section class="about_sec">
					<div class="ctnr">
						<div class="content">
							<!-- <video
								class="andrei_video"
								src="/the-fundamental-truth-of-business.mp4"
								controls
								controlslist="nodownload nofullscreen noremoteplayback noplaybackrate"
								disablepictureinpicture
								poster="/video-cover.webp"
								playsinline></video> -->

							<div class="txt" id="about">
								<h2>
									Our approach marries data-driven strategy with human-centred insights, ensuring your event not only reaches but resonates with the right audience - <b>always moving, never alone</b>.
								</h2>

								<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis facilis cupiditate deleniti dignissimos ipsa, ipsum ea libero harum quia quo ipsam quis magnam laudantium iusto soluta non atque vitae suscipit.</p>
								
								<a class="cta" href="/contact/" aria-label="" >Lorem ipsum dolor sit amet</a>
							</div>
						</div>
					</div>
				</section>

				<section class="my_philosophy_sec">
					<div class="ctnr">
						<div class="content">
							<q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, velit ut <strong>deserunt placeat sit magnam</strong> hic asperiores nesciunt. Ad officiis id recusandae laboriosam ratione mollitia minima libero quia maiores nulla?</q>
						</div>
					</div>
				</section>

				<section class="framework_sec" id="identity-framework">
					<div class="ctnr">
						<div class="content">
							<div class="txt">
								<p>
									Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ipsa harum maxime fugiat similique, sed sit, quam natus sapiente modi vel labore enim officia iusto nam debitis eius unde. Eveniet?
								</p>

								<p>
									Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis qui ipsum non. Assumenda, totam tempore! In dignissimos explicabo, exercitationem ullam odio asperiores repellat omnis fugiat officia, quidem doloremque aut eos.
								</p>
							</div>

							<div class="box">
								<p>
									Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla architecto aut tempore iure quasi quia quaerat tempora et aliquam quis. Velit ullam ea sunt quod voluptatem officia totam labore delectus!
								</p>

								<form
									id="tel_form"
									name="framework-phone-contact"
									method="POST"
									data-netlify="true"
								>
									<p>
										<input
											type="tel"
											name="name"
											placeholder="Your phone number"
											required
										/>
									</p>
									<p>
										<button
											type="submit"
											aria-label="Send phone number"
											>Send</button
										>
									</p>
								</form>

								<span class="response"
									>Thanks for submitting!</span
								>

								<script>
									const response = document.querySelector(
										".framework_sec .response"
									);

									const handleSubmit = (event) => {
										event.preventDefault();

										const myForm = event.target;
										const formData = new FormData(myForm);

										const telInput =
											document.querySelector(
												"#tel_form input"
											);

										function successTel() {
											response.style.display = "block";

											setTimeout(() => {
												telInput.value = "";
											}, 900);
										}

										fetch("/", {
											method: "POST",
											headers: {
												"Content-Type":
													"application/x-www-form-urlencoded",
											},
											body: new URLSearchParams(
												formData
											).toString(),
										})
											.then(() => successTel())
											.catch((error) => alert(error));
									};

									document
										.querySelector("#tel_form")
										.addEventListener(
											"submit",
											handleSubmit
										);
								</script>
							</div>
						</div>
					</div>
				</section>

				<section class="blog_sec" id="blog">
					<div class="ctnr">
						<div class="content">
							<div class="title">
								<h3>Blog</h3>
								<!-- <sub>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</sub> -->
							</div>
						</div>

						<div class="blog_carousel">
							{
								posts.map((post) => (
									<>
										<a href={`/blog/${post.slug}/`}>
											<img
												src={post.data.heroImage}
												class="cover"
												alt={post.data.title}
												loading="lazy"
												width="350"
												height="400"
											/>
											<h4>{post.data.title}</h4>
										</a>
									</>
								))
							}
							<!-- <a
								href="blog/your-brand-is-compression-of-sensation/index.html"
							>
								<picture class="cover">
									<source
										srcset="public/blog-assets/your-brand-is-compression-of-sensation/cover.webp"
										type="image/webp"
										width="350"
										height="400"
									/>
									<source
										srcset="public/blog-assets/your-brand-is-compression-of-sensation/cover.jpg"
										type="image/jpeg"
										width="350"
										height="400"
									/>
									<img
										src="public/blog-assets/your-brand-is-compression-of-sensation/cover.jpg"
										alt="Your brand is compression of sensation, here's why"
										loading="lazy"
										width="350"
										height="400"
									/>
								</picture>

								<h4>
									Your brand is <b>compression of sensation</b
									>, here's why
								</h4>

								<span class="read_more">Read more</span>
							</a> -->
						</div>

						<a href="blog/index.html">Access the full blog</a>
					</div>
				</section>
			</main>
		</div>
		<Footer />

		<script>
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", (user) => {
					if (!user) {
						window.netlifyIdentity.on("login", () => {
							document.location.href = "/admin/";
						});
					}
				});
			}
		</script>
	</body>
</html>
